---
date: 2026-04-05 12:00
title: VO2 Max And Lactate Threshold Results
categories: [personal development]
tags: [cycling, exercise, physical health, running]
---

At the end of January I underwent a VO<sub>2</sub> max and lactate threshold test. You can read about it in a [previous post]({% post_url 2026-01-30-vo2-max-testing %}). Less than a week later I received the results and I was very pleased to discover that, in addition to the facts and figures, it included training suggestions too.

This blog post will provide some details about the information I got in the report and also compare it to the figures my Garmin Fenix 7 calculated for me.

## The Garmin Estimates

> Unfortunately it has taken me a couple of months to write this up so the figures and estimates from my watch may not be exactly what they were at the end of January.

My Garmin Fenix 7 calculates what it calls my lactate threshold (what the report calls my Individual Anaerobic Threshold or IAT) as being at 173 bpm and the zones are based on percentages of that:

| Zone   | Percentage of LTHR | Heart Rate  |
| ------ | ------------------ | ----------- |
| Zone 1 | 69-76%             | 119-132 bpm |
| Zone 2 | 77-84%             | 133-145 bpm |
| Zone 3 | 85-93%             | 146-161 bpm |
| Zone 4 | 94-101%            | 162-176 bpm |
| Zone 5 | 103-110%           | 177-190 bpm |

## The Test Results

The actual test results give me the following heart rates for each zone:

| Zone   | Heart Rate  |
| ------ | ----------- |
| Zone 1 | < 109 bpm   |
| Zone 2 | 109-142 bpm |
| Zone 3 | 142-166 bpm |
| Zone 4 | 166-184 bpm |
| Zone 5 | > 184 bpm   |

I was surprised at how close my Garmin is to the actual test results for my heart rate zones. I probably shouldn't be since it collects so much data from me but it does give me some confidence that the other analysis that it does will also be fairly accurate too.

However, the Zone 2 band on my Garmin is too narrow and since I need to do more Zone 2 training it is very useful to have more accurate figures to work from.

But the report includes an awful lot more data and information for me too.

## The Report Itself

> From here on, my lactate threshold (LT) and my Individual Anaerobic Threshold (IAT) are the values quoted in the test results. I reach the former around a heart rate of 142 bpm and the latter around a heart rate of 166 bpm.

My research had already told me this but the report explains that by doing more aerobic training in Zone 2 (below my LT) I will increase my endurance and also my speed. By increasing my aerobic fitness my body can run for longer periods at a faster rate without building up lactate, the thing that ties your muscles.

Similarly, training below the IAT will allow me to work at higher intensities for longer which will benefit things like my 5k time. By training in zone 3 and edging into zone 4 I can increase the pace I can run at before hitting this threshold.

Additionally, training in zones 2 and 3 will help flatten the curve of lactate build-up so that it doesn't occur so quickly which will give me a larger heart rate range before I get exhausted.

With regard to VO<sub>2</sub> max, because the test is not very good at representing longer endurance events, the result you get is called the VO<sub>2</sub> Peak. That value can be reported as an absolute score (in litres of oxygen consumed per minute) or as a score relative to bodyweight. My absolute score is 3.462 L/min and my relative score is 42.50 ml/kg/min. Those put me into a "good" category for my age and sex.

Interestingly the report cautions me not to focus too much on my VO<sub>2</sub> Max because my lactate profile is probably more important for the sort of fitness levels I want to achieve and the sort of exercise I enjoy. However if I do want to improve it then I need to work in zones 4 and 5.

The report also gives me a Velocity at VO<sub>2</sub> Max figure (10.23 kph). This is the speed at which I would elicit my peak oxygen uptake if it was sustained. A well-trained runner should be able to complete 10km at around 92% of this rate or 5km at around 98%. That would translate into me being able to complete a 10km race in around 1:03:50 and a 5km race in 29:10. Both feel a little optimistic right now but the term "well-trained" plays a fairly important part here I think.

Running Economy is the VO<sub>2</sub> required to run at sub-maximal speeds and is a vital aspect of endurance running. My figure is 249 ml/kg/km which is moderately good and something I can improve by training in zones 2 and 3. It is definitely something I need to work on if I want to achieve my longer-term goal of running a marathon in a couple of years. For context, when running a 5K, around 10% of the effort is running economy, 15% is IAT and pretty much all of the remaining 75% is VO<sub>2</sub> max. By contrast, for a marathon, those figures are around 45%, 50% and 5% respectively.

Blood Lactate levels at the end of a test help indicate anaerobic capacity. Mine reached a peak of 10.1 mmol/L which shows that I have a good level of anaerobic capacity and can produce some high-intensity energy at a fast rate when needed. Endurance-based athletes tend to have lower lactate levels and lowering my peak lactate through more aerobic training would benefit me and my goals but for shorter runs like a 5k or for Zwift cycling a higher peak lactate level would help. Essentially it is difficult to fully develop you aerobic and anaerobic systems simultaneously so I need to match my training to the events I want to do. The initial recommendation is to focus on work in zones 1-3 with some in zone 4 to achieve my running goals.

The report also covers fuel usage during the test. As is to be expected, initially, at lower intensities, more fat is burnt but as the intensity increases less is and more carbohydrates are. The respiratory exchange ratio (RER) is the ratio between the carbon dioxide produced and the oxygen used by the body. An RER of 0.7 indicates pure fat usage and 1 suggests pure carbohydrate usage with 0.85 being a 50/50 split. Whilst it is not a perfect guide due to the short time periods per testing stage, it appears that I burn the most fat up to a speed of 6kph and fat burning is still elevated until around 8kph but after that I am largely burning carbohydrates. Zone 1 and 2 runs would help me burn more fat.

The end of the report also contains what is essentially a training guide in terms of suggesting what zones I should focus on for burning fat, improving my endurance and also how to improve my top-end speed, VO<sub>2</sub> max and running economy whilst also keeping a balance between aerobic and anaerobic training.

## Was It Worth It?

Was it worth spending £180 on the testing and the report? Yes. Was it necessary? No.

I am at best an enthusiastic amateur athlete so a detailed report like this is not at all necessary for me to go and run further and faster which will largely happen as a result of just running more. I had a good idea about the training zones and which I should be focusing on and my Garmin watch was pretty accurate in terms of telling me my heart rate for each one.

But the report did allow me to learn more about what my body is capable of and it confirmed some theory and has given me some concrete steps to take. I enjoy learning about the science behind fitness and so a geeky itch was definitely scratched too.

It has also given me a good yardstick so that next January, when I go and repeat the process, I will hopefully see tangible differences between the two sets of results. Hopefully I won't just be feeling fitter, I'll actually know in which areas I am fitter. And for someone who still feels that exercise is a new, exciting part of their life this sort of thing is a reward to myself for all of the hard work and well worth it.
