---
date: 2026-02-15 12:00
title: VO2 Max And Lactate Threshold Results
categories: [personal development]
tags: [cycling, exercise, physical health, running]
---

I recently went for a VO<sub>2</sub> max and lactate threshold test. You can read about it in a [previous post]({% post_url 2026-01-30-vo2-max-testing %}). Less than a week later I received the results and I was very pleased to discover that, in addition to the facts and figures, it included training suggestions too.

This blog post will provide some details about the information I got in the report and also compare it to the figures my Garmin Fenix 7 calculated for me.

## The Garmin Estimates

## The Test Results


## The Unscientific Training Guide



